@import "colors";

//Aplicando extend para el footer y sus clases.
.flex-footer {
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: $negro;
  color: $blanco;
}

.footer-copyright {
  background-color: $azul;
}
